!include
!lib
!CMakeLists.txt
!.clang-format
!.clang-tidy
!README.md
!scenes
!src
!.gitignore
!.git
!.github

# insurance

.idea
cmake-build-release
cmake-build-debug
cmake-build-debug-visual-studio
cmake-build-release-visual-studio
bin
